.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    font-style: italic;
}

.mt-5 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 20px;
}

h5 {
    text-transform: uppercase;
    font-weight: normal;
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle !important;
}

table .image {
    width: 73px;
    height: 73px;
    display: inline-block;
}

.img-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}